<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Confirm your input</h4>
            <label th:text="${author.firstName}"></label><br />
            <label th:text="${author.lastName}"></label><br />
            <label th:text="${author.email}"></label><br />
            <label th:text="${author.userName}"></label><br /><br />

            <a class="btn btn-primary" th:href="@{${flowExecutionUrl}(_eventId=goToSave)}">Save</a><br />
            <a class="btn btn-danger btn-xs" th:href="@{${flowExecutionUrl}(_eventId=goToCancelState)}">Cancel</a>!
        </div>
    </div>

    <hr/>
</div>
<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>